.Menu {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 13px;
  transition: all 0.35s ease;

  &--open {
    width: 360px;
    padding: 34px;
  }

  &__logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 12px;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background: #6a7282;
    margin-top: 70px;
  }

  &__button {
    &__wrapper {

    }
  }
}
